body {
  font-family: sans-serif;
  /* margin: auto; */
  /* max-width: 1280px; */
  margin: 0 0;
}

/* .navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
} */

#map { height: 100vh; flex: 75 }
/* #map { height: 80vh; width: 100vw } */

#mainContainer {
  display: flex;
  flex-direction: row;
}

#feedContainer {
  flex: 25;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: visible;
  height: 100vh;
}

.feedElementContainer{
  width: 100%;
  margin-bottom:20px;
}

#topNavBar {
  width:100vw;
  background-color: azure;
  height: 2em;
}
